xlua-framework.sln
xlua-framework.csproj
xlua-framework.Editor.csproj
Assets/LuaScripts/NppGTags.cfg.meta
Assets/LuaScripts/NppGTags.cfg
Assets/LuaScripts/GTAGS.meta
Assets/LuaScripts/GTAGS
Assets/LuaScripts/GRTAGS.meta
Assets/LuaScripts/GRTAGS
Assets/LuaScripts/GPATH.meta
Assets/LuaScripts/GPATH
Assets/StreamingAssets/AssetBundles/
AssetBundles/
Assets/StreamingAssets/AssetBundles.meta
*.apk
Assets/Scripts/XLua/Gen/
Assets/Scripts/XLua/Gen.meta
*.csproj
*.sln
Library/
Temp/
.vs/
Assets/Plugins/Android/
Assets/Plugins/Android.meta
